<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>NOTICIAS</h1>
  <br>
  <li>
    <ul>
      Defensa Civil reconoce la experiencia y dedicación de su voluntariado en un acto nacional
    </ul>
    <ul>Defensa Civil e Infoiles lanzan campaña a favor de la comunidad sorda en el país</ul>
    <ul>Defensa Civil y TV Imaginativa buscan capacitar técnicos de medios de comunicación en Gestión de Riesgos</ul>
    <ul>Estudiantes de Centroamérica y RD conversan con un astronauta desde el espacio</ul>
    <ul> <a href="https://www.defensacivil.gob.do/index.php/noticias">SABER MAS</a>  </ul>
  </li>
</ion-content>