<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <li>
    <ul> <a
        href="https://www.defensacivil.gob.do/index.php/servicios/unidades-de-respuesta/item/35-tecnica-de-extraccion-y-extricacion-vehicular">
        Técnica de Extracción y Extricación Vehicular.</a>
    </ul>
    <ul> <a href="https://www.defensacivil.gob.do/index.php/servicios/unidades-de-respuesta/item/38-atencion-pre-hospitalaria">Atencion Pre-hospitalaria</a></ul>
    <ul> <a href="https://www.defensacivil.gob.do/index.php/servicios/unidades-de-respuesta/item/39-salvamento-acuatico">Salvamento Acuático</a></ul>
    <ul> <a href="https://www.defensacivil.gob.do/index.php/servicios/unidades-de-respuesta">Rescate en Estructuras Colapsadas</a></ul>
    <ul> <a href="https://www.defensacivil.gob.do/index.php/servicios/unidades-de-respuesta/item/41-busqueda-localizacion-y-rescate-en-montanas">Búsqueda, Localización y rescate en montañas</a></ul>
    <ul> <a href="Manejo de Sustancias y Materiales Peligrosos">Manejo de Sustancias y Materiales Peligrosos</a></ul>
   
    
  </li>
</ion-content>